@keyframes ToastIconRotate {
  100% {
    transform: rotate(360deg);
  }
}

.ToastIconRotate {
  animation: ToastIconRotate 1s linear infinite;
}

.ToastMask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  &.UnClickAble {
    pointer-events: auto;
  }
  &.AllowClickAble {
    pointer-events: none;
  }
}

.ToastWrap {
  .Toast {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    display: inline-block;
    overflow: auto;
    padding: 8px 12px;
    outline: 0;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    .Icon {
      margin: 0px 10px 4px;
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      &-success,
      &-fail,
      &-info,
      &-loading {
        @extend .Icon;
      }
      &-loading {
        animation: ToastIconRotate 1s linear infinite;
      }
    }
  }
}
