<!DOCTYPE html>
<html>
  <head>
    <meta charSet="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, viewport-fit=cover"
    />
    <title>4Fun Act</title>
    <style></style>
  </head>

  <body>
    <div id="root"></div>
    <div
      style="
        position: fixed;
        width: 90px;
        height: 256px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div
        style="
          position: absolute;
          top: 0;
          left: 0;
          width: 90px;
          height: 256px;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('/loadingShadow.png');
        "
        alt=""
      ></div>
      <div
        style="
          position: absolute;
          bottom: 0;
          left: 0;
          width: 90px;
          height: 0px;
          transform: rotate(180deg);
          overflow: hidden;
        "
      >
        <div
          style="
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
            height: 256px;
            transform: rotate(180deg);
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('/loadingShadowAll.png');
          "
          alt=""
        ></div>
      </div>
      <div
        style="
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 100%);
          color: #9b9ca1;
          width: 120%;
          text-align: center;
          font-family: PingFangSC-Semibold, PingFang SC;
        "
        id="hssLoadingText"
      >
        Loading…0%
      </div>
    </div>
  </body>
</html>
